
:root {
    --base: #ffc600;
    --spacing: 20px;
    --blur: 10px;
}


*{
    margin: 0;
    padding: 0;
}

.h1{
    color: var(--base);
}

img{
    padding:var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}


body{
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    background-color: #162e3f;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}


